

.panel-header-noborder {
  border-width: 0 0 1px 0;
}
/*.panel-body {*/
  /*overflow: auto;*/
  /*border-top-width: 0;*/
  /*padding: 0;*/
/*}*/
.panel-body-noheader {
  border-top-width: 1px;
  border-top-width: 0;
  padding: 0;
  border-width: 1px;
  /*border-style: solid;*/
  background-color: #ffffff;
  color: #333;
  font-size: 12px;
}
.panel-body-noborder {
  border-width: 0px;
}
.panel-body-nobottom {
  border-bottom-width: 0;
}
