<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiduan.axp.dao.manager.mapper.UserManagerLogMapper">

    <insert id="insert" parameterType="com.zhiduan.axp.dao.manager.bean.UserManagerLogBean" useGeneratedKeys="true" keyProperty="userManagerLogId">
      INSERT INTO tb_user_manager_log (
            user_manager_id,
            user_name,
            operation_type,
            menu_id,
            user_ip,
            operation_time)
            VALUES
          (#{userManagerId},
          #{userName},
          #{operationType},
          #{menuId},
          #{userIp},
          #{operationTime}
          )
    </insert>

    <insert id="insertRemark" parameterType="com.zhiduan.axp.dao.manager.bean.UserManagerLogBean">
        INSERT INTO tb_user_manager_log_remark (
        user_manager_log_id,
        new_value,
        old_value,
        remark)
        VALUES
        (#{userManagerLogId},
        #{newValue},
        #{oldValue},
        #{remark}
        )
    </insert>

    <select id="getLogs" parameterType="com.zhiduan.axp.controller.model.UserManagerLogModel"
            resultType="com.zhiduan.axp.dao.manager.bean.UserManagerLogBean">
        SELECT
        a.user_manager_log_id userManagerLogId,
        a.user_manager_id userManagerId,
        a.user_name userName,
        a.operation_type operationType,
        a.user_ip userIp,
        a.operation_time operationTime,
        b.caption,
        c.remark,
        c.new_value newValue,
        c.old_value oldValue
        FROM
        tb_user_manager_log a,tb_menu b,tb_user_manager_log_remark c
        WHERE a.user_manager_log_id=c.user_manager_log_id
        AND a.menu_id=b.menu_id
        AND a.operation_time between #{startDate} AND #{endDate}
        <if test="userName != ''and userName!=null">
            and a.user_name like CONCAT('%',TRIM(#{userName}),'%')
        </if>
        <if test="menuId != ''and menuId!=null">
            and a.menu_id like CONCAT('%',TRIM(#{menuId}),'%')
        </if>
        <if test="operationType != ''and operationType!=null">
            and a.operation_type like CONCAT('%',TRIM(#{operationType}),'%')
        </if>
        ORDER BY ${sort} ${order}
        LIMIT #{offset}, #{limit}

    </select>


    <select id="getLogsCount" parameterType="com.zhiduan.axp.controller.model.UserManagerLogModel"
            resultType="int">

        SELECT COUNT(*) FROM (
        SELECT
        a.user_manager_log_id userManagerLogId,
        a.user_manager_id userManagerId,
        a.user_name userName,
        a.operation_type operationType,
        a.user_ip userIp,
        a.operation_time operationTime,
        b.caption,
        c.remark
        FROM
        tb_user_manager_log a,tb_menu b,tb_user_manager_log_remark c
        WHERE a.user_manager_log_id=c.user_manager_log_id
        AND a.menu_id=b.menu_id
        AND a.operation_time between #{startDate} AND #{endDate}
        <if test="userName != ''and userName!=null">
            and a.user_name like CONCAT('%',TRIM(#{userName}),'%')
        </if>
        <if test="menuId != ''and menuId!=null">
            and a.menu_id like CONCAT('%',TRIM(#{menuId}),'%')
        </if>
        <if test="operationType != ''and operationType!=null">
            and a.operation_type like CONCAT('%',TRIM(#{operationType}),'%')
        </if>
        ) t
    </select>
</mapper>
