<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rofour.baseball.dao.order.mapper.OrderManagerMapper">
    <resultMap id="BaseResultMap" type="com.rofour.baseball.dao.order.bean.OrderManagerBean">
        <id column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
        <result column="channel" property="channel" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="total_money" property="totalMoney" jdbcType="BIGINT"/>
        <result column="rebate_money" property="rebateMoney" jdbcType="BIGINT"/>
        <result column="final_money" property="finalMoney" jdbcType="BIGINT"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="pay_money" property="payMoney" jdbcType="BIGINT"/>
        <result column="pay_state" property="payState" jdbcType="INTEGER"/>
        <result column="pay_type" property="payType" jdbcType="INTEGER"/>
        <result column="pay_id" property="payId" jdbcType="BIGINT"/>
        <result column="cancel_type" property="cancelType" jdbcType="INTEGER"/>
        <result column="consignee" property="consignee" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="delivery_start_date" property="deliveryStartDate" jdbcType="TIMESTAMP"/>
        <result column="delivery_end_date" property="deliveryEndDate" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="BIGINT"/>
        <result column="create_user_mobile" property="createUserMobile" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="unnormal_desc" property="unnormalDesc" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="BIGINT"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="pay_mode" property="payMode" jdbcType="INTEGER"/>
        <result column="lock_state" property="lockState" jdbcType="INTEGER"/>
        <result column="trader" property="trader" jdbcType="VARCHAR"/>
        <result column="trader_name" property="traderName" jdbcType="VARCHAR"/>
        <result column="trader_sex" property="traderSex" jdbcType="VARCHAR"/>
        <result column="trader_mobile" property="traderMobile" jdbcType="VARCHAR"/>
        <result column="trader_address" property="traderAddress" jdbcType="VARCHAR"/>
        <result column="winner" property="winner" jdbcType="BIGINT"/>
        <result column="winner_remark" property="winnerRemark" jdbcType="VARCHAR"/>
        <result column="college_id" property="collegeId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Oct 10 16:41:30 CST 2016.
        -->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Oct 10 16:41:30 CST 2016.
        -->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    order_id, source, channel, TYPE, total_money, rebate_money, final_money, state, pay_money,
    pay_state, pay_type, pay_id, cancel_type, consignee, address, delivery_start_date, 
    delivery_end_date, create_user, create_user_mobile, mobile, remark, unnormal_desc, 
    create_date, update_user, update_date, sex, pay_mode, lock_state, trader, trader_name, 
    trader_sex, trader_mobile, trader_address, winner, winner_remark, college_id
  </sql>
    <select id="selectOrderList" parameterType="com.rofour.baseball.controller.model.order.OrderManagerQueryParamInfo"
            resultType="com.rofour.baseball.dao.order.bean.OrderManagerBean">
        SELECT a.order_id, a.source, a.channel, a.TYPE, a.total_money,(a.total_money - a.final_money) rebateMoney, a.final_money, a.state,
        a.pay_money,
        a.pay_state, a.pay_type, a.pay_id, a.cancel_type, a.consignee, a.address, a.delivery_start_date,
        a.delivery_end_date, a.create_user, a.create_user_mobile, a.mobile, a.remark, a.unnormal_desc,
        a.create_date, a.update_user, a.update_date, a.sex, a.pay_mode, a.lock_state, a.trader, a.trader_name,
        a.trader_sex, a.trader_mobile, a.trader_address, a.winner, a.winner_remark, a.college_id,b.full_name
        collegeName,c.phone winnerMobile,c.user_id,a.lock_state,a.pay_type,d.total_money rewardMoney
        FROM tb_order a
        LEFT JOIN tb_college b ON a.college_id=b.college_id
        LEFT JOIN tb_user c ON a.winner = c.user_id
        LEFT JOIN tb_order_item d ON a.order_id=d.order_id AND d.type=1001
        WHERE 1=1
        <if test="orderId != null">
            AND a.order_id = #{orderId}
        </if>
        <if test="collegeId != null">
            AND a.college_id = ${collegeId}
        </if>
        <if test="orderState != null">
            AND a.state = #{orderState}
        </if>
        <if test="payModel != null">
            AND a.pay_mode = #{payModel}
        </if>
        <if test="payType != null">
            AND a.pay_type = #{payType}
        </if>
        <if test="payState != null">
            AND (a.pay_state = #{payState} OR a.pay_mode=2)
        </if>
        <if test="orderType != null">
            <if test="orderType==1">
                AND a.type IN ('packet','agent_packet')
            </if>
            <if test="orderType==2">
                AND a.type = 'send'
            </if>
            <if test="orderType==3">
                AND a.type = 'errands'
            </if>
        </if>
        <if test="orderType == null">
            AND a.type != 'agent_system'
        </if>
        <if test="createUserMobile != null and createUserMobile!=''">
            AND a.create_user_mobile=#{createUserMobile}
        </if>
        <if test="winnerMobile != null and winnerMobile!=''">
            AND c.phone=#{winnerMobile}
        </if>
        <if test="createStartDate != null and createStartDate!='' and createEndDate != null and createEndDate!=''">
            AND a.create_date &gt;= #{createStartDate} AND a.create_date &lt;= #{createEndDate}
        </if>
        <if test="updateStartDate != null and updateStartDate!='' and updateEndDate != null and updateEndDate!=''">
            AND a.update_date &gt;= #{updateStartDate} AND a.update_date &lt;= #{updateEndDate}
        </if>
        <if test="provinceIdList != null">
            AND b.province_id IN
            <foreach collection="provinceIdList" item="provinceId" index="index" open="(" close=")" separator=",">
                #{provinceId}
            </foreach>
        </if>
        <if test="cityIdList != null">
            AND b.city_id IN
            <foreach collection="cityIdList" item="cityId" index="index" open="(" close=")" separator=",">
                #{cityId}
            </foreach>
        </if>
        <if test="collegeIdList != null">
            AND a.college_id IN
            <foreach collection="collegeIdList" item="collegeId" index="index" open="(" close=")" separator=",">
                #{collegeId}
            </foreach>
        </if>
        ORDER BY a.create_date DESC
        LIMIT #{offset}, #{limit}
    </select>
    <select id="selectOrderListCount" parameterType="com.rofour.baseball.controller.model.order.OrderManagerQueryParamInfo"
            resultType="java.lang.Integer">
        SELECT COUNT(a.order_id)
        FROM tb_order a
        LEFT JOIN tb_college b ON a.college_id=b.college_id
        LEFT JOIN tb_user c ON a.winner = c.user_id
        LEFT JOIN tb_order_item d ON a.order_id=d.order_id AND d.type=1001
        WHERE 1=1
        <if test="orderId != null">
            AND a.order_id = #{orderId}
        </if>
        <if test="collegeId != null">
            AND a.college_id = ${collegeId}
        </if>
        <if test="orderState != null">
            AND a.state = #{orderState}
        </if>
        <if test="payModel != null">
            AND a.pay_mode = #{payModel}
        </if>
        <if test="payType != null">
            AND a.pay_type = #{payType}
        </if>
        <if test="payState != null">
            AND (a.pay_state = #{payState} OR a.pay_mode=2)
        </if>
        <if test="orderType != null">
            <if test="orderType==1">
                AND a.type IN ('packet','agent_packet')
            </if>
            <if test="orderType==2">
                AND a.type = 'send'
            </if>
            <if test="orderType==3">
                AND a.type = 'errands'
            </if>
        </if>
        <if test="orderType == null">
            AND a.type != 'agent_system'
        </if>
        <if test="createUserMobile != null and createUserMobile!=''">
            AND a.create_user_mobile=#{createUserMobile}
        </if>
        <if test="winnerMobile != null and winnerMobile!=''">
            AND c.phone=#{winnerMobile}
        </if>
        <if test="createStartDate != null and createStartDate!='' and createEndDate != null and createEndDate!=''">
            AND a.create_date &gt;= #{createStartDate} AND a.create_date &lt;= #{createEndDate}
        </if>
        <if test="updateStartDate != null and updateStartDate!='' and updateEndDate != null and updateEndDate!=''">
            AND a.update_date &gt;= #{updateStartDate} AND a.update_date &lt;= #{updateEndDate}
        </if>
        <if test="provinceIdList != null">
            AND b.province_id IN
            <foreach collection="provinceIdList" item="provinceId" index="index" open="(" close=")" separator=",">
                #{provinceId}
            </foreach>
        </if>
        <if test="cityIdList != null">
            AND b.city_id IN
            <foreach collection="cityIdList" item="cityId" index="index" open="(" close=")" separator=",">
                #{cityId}
            </foreach>
        </if>
        <if test="collegeIdList != null">
            AND a.college_id IN
            <foreach collection="collegeIdList" item="collegeId" index="index" open="(" close=")" separator=",">
                #{collegeId}
            </foreach>
        </if>
    </select>
    <select id="selectOrderDetail" parameterType="long" resultType="com.rofour.baseball.dao.order.bean.OrderManagerBean">
     SELECT a.order_id, a.source, a.channel, a.TYPE, a.total_money, a.rebate_money, a.final_money, a.state, a.pay_money,
    a.pay_state, a.pay_type, a.pay_id, a.cancel_type, a.consignee, a.address, a.delivery_start_date,
    a.delivery_end_date, a.create_user, a.create_user_mobile, a.mobile, a.remark, a.unnormal_desc,
    a.create_date, a.update_user, a.update_date, a.sex, a.pay_mode, a.lock_state, a.trader, a.trader_name,
    a.trader_sex, a.trader_mobile, a.trader_address, a.winner, a.winner_remark, a.college_id,b.full_name collegeName,c.phone winnerMobile,d.city_name cityName,e.waybill_no,e.pickup_code agentPickupCode,f.waybill_no pickUpCode,g.rebate_total_money rewardMoney
    FROM tb_order a
    LEFT JOIN tb_college b ON a.college_id=b.college_id
    LEFT JOIN tb_user c ON a.winner = c.user_id
    LEFT JOIN tb_city d ON b.city_id=d.city_id
    LEFT JOIN p_order e ON a.order_id = e.order_id
    LEFT JOIN p_send_order f ON a.order_id = f.order_id
    LEFT JOIN tb_order_item g ON a.order_id=g.order_id AND g.type=1001
    WHERE a.order_id  = #{orderId}
  </select>
    <!--查询订单项结果集-->
    <select id="selectOrderFlowByOrderId" parameterType="long" resultType="com.rofour.baseball.dao.order.bean.OrderFlowBean">
    SELECT
            id,
            order_id    orderId,
            state,
            create_date createDate,
            create_user createUser,
            remark,
            type
        FROM tb_order_flow
        WHERE order_id = #{orderId}
        ORDER BY create_date DESC,id DESC
  </select>
    <!--查询小派列表-->
    <select id="selectPacketUserList" parameterType="com.rofour.baseball.controller.model.order.PacketUserQueryParamInfo" resultType="com.rofour.baseball.dao.user.bean.PacketUserBean">
    SELECT a.user_id,a.user_name,a.signup_time,a.real_name,a.gender,b.office_role_type,d.city_name,c.full_name,b.dormitory_address,e.be_enabled FROM tb_user a
    LEFT JOIN p_user b ON a.user_id=b.user_id
    LEFT JOIN tb_college c ON b.college_id=c.college_id
    LEFT JOIN tb_city d ON c.city_id=d.city_id
    LEFT JOIN tb_user_type e ON a.user_id=e.user_id
    WHERE a.be_deleted=0  AND e.user_type=3 AND e.be_enabled = 1 AND b.grab_order_mode = 1 AND b.college_id=#{collegeId}
        <if test="realName != null and realName !=''">
            AND a.real_name like CONCAT('%',#{realName},'%')
        </if>
        <if test="userName != null and userName != ''">
            AND a.user_name = #{userName}
        </if>
        <if test="gender != null and gender != ''">
            AND a.gender = #{gender}
        </if>
        <if test="officeRoleType != null">
            AND b.office_role_type=#{officeRoleType}
        </if>
        <if test="beEnabled != null">
            AND e.be_enabled=#{beEnabled}
        </if>
        <if test="signupStartTime != null and signupStartTime != '' and signupEndTime != null and signupEndTime != ''">
            AND a.signup_time &gt;= #{signupStartTime} AND a.signup_time &lt;= #{signupEndTime}
        </if>
    LIMIT #{offset}, #{limit}
  </select>
    <select id="selectPacketUserListCount" parameterType="com.rofour.baseball.controller.model.order.PacketUserQueryParamInfo" resultType="java.lang.Integer">
        SELECT COUNT(a.user_id) FROM tb_user a
        LEFT JOIN p_user b ON a.user_id=b.user_id
        LEFT JOIN tb_college c ON b.college_id=c.college_id
        LEFT JOIN tb_city d ON c.city_id=d.city_id
        LEFT JOIN tb_user_type e ON a.user_id=e.user_id
        WHERE a.be_deleted=0  AND e.user_type=3 AND e.be_enabled = 1 AND b.grab_order_mode = 1 AND b.college_id=#{collegeId}
        <if test="realName != null and realName !=''">
            AND a.real_name like CONCAT('%',#{realName},'%')
        </if>
        <if test="userName != null and userName != ''">
            AND a.user_name = #{userName}
        </if>
        <if test="gender != null and gender != ''">
            AND a.gender = #{gender}
        </if>
        <if test="officeRoleType != null">
            AND b.office_role_type=#{officeRoleType}
        </if>
        <if test="beEnabled != null">
            AND e.be_enabled=#{beEnabled}
        </if>
        <if test="signupStartTime != null and signupStartTime != '' and signupEndTime != null and signupEndTime != ''">
            AND a.signup_time &gt;= #{signupStartTime} AND a.signup_time &lt;= #{signupEndTime}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.rofour.baseball.dao.order.bean.OrderManagerBeanExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from tb_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from tb_order
        where order_id = #{orderId,jdbcType=BIGINT}
    </select>
    <select id="countByExample" parameterType="com.rofour.baseball.dao.order.bean.OrderManagerBeanExample"
            resultType="java.lang.Integer">
        select count(*) from tb_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update tb_order
        <set>
            <if test="record.orderId != null">
                order_id = #{record.orderId,jdbcType=BIGINT},
            </if>
            <if test="record.source != null">
                source = #{record.source,jdbcType=VARCHAR},
            </if>
            <if test="record.channel != null">
                channel = #{record.channel,jdbcType=VARCHAR},
            </if>
            <if test="record.type != null">
                TYPE = #{record.type,jdbcType=VARCHAR},
            </if>
            <if test="record.totalMoney != null">
                total_money = #{record.totalMoney,jdbcType=BIGINT},
            </if>
            <if test="record.rebateMoney != null">
                rebate_money = #{record.rebateMoney,jdbcType=BIGINT},
            </if>
            <if test="record.finalMoney != null">
                final_money = #{record.finalMoney,jdbcType=BIGINT},
            </if>
            <if test="record.state != null">
                state = #{record.state,jdbcType=INTEGER},
            </if>
            <if test="record.payMoney != null">
                pay_money = #{record.payMoney,jdbcType=BIGINT},
            </if>
            <if test="record.payState != null">
                pay_state = #{record.payState,jdbcType=INTEGER},
            </if>
            <if test="record.payType != null">
                pay_type = #{record.payType,jdbcType=INTEGER},
            </if>
            <if test="record.payId != null">
                pay_id = #{record.payId,jdbcType=BIGINT},
            </if>
            <if test="record.cancelType != null">
                cancel_type = #{record.cancelType,jdbcType=INTEGER},
            </if>
            <if test="record.consignee != null">
                consignee = #{record.consignee,jdbcType=VARCHAR},
            </if>
            <if test="record.address != null">
                address = #{record.address,jdbcType=VARCHAR},
            </if>
            <if test="record.deliveryStartDate != null">
                delivery_start_date = #{record.deliveryStartDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.deliveryEndDate != null">
                delivery_end_date = #{record.deliveryEndDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createUser != null">
                create_user = #{record.createUser,jdbcType=BIGINT},
            </if>
            <if test="record.createUserMobile != null">
                create_user_mobile = #{record.createUserMobile,jdbcType=VARCHAR},
            </if>
            <if test="record.mobile != null">
                mobile = #{record.mobile,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.unnormalDesc != null">
                unnormal_desc = #{record.unnormalDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.createDate != null">
                create_date = #{record.createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateUser != null">
                update_user = #{record.updateUser,jdbcType=BIGINT},
            </if>
            <if test="record.updateDate != null">
                update_date = #{record.updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.sex != null">
                sex = #{record.sex,jdbcType=VARCHAR},
            </if>
            <if test="record.payMode != null">
                pay_mode = #{record.payMode,jdbcType=INTEGER},
            </if>
            <if test="record.lockState != null">
                lock_state = #{record.lockState,jdbcType=INTEGER},
            </if>
            <if test="record.trader != null">
                trader = #{record.trader,jdbcType=VARCHAR},
            </if>
            <if test="record.traderName != null">
                trader_name = #{record.traderName,jdbcType=VARCHAR},
            </if>
            <if test="record.traderSex != null">
                trader_sex = #{record.traderSex,jdbcType=VARCHAR},
            </if>
            <if test="record.traderMobile != null">
                trader_mobile = #{record.traderMobile,jdbcType=VARCHAR},
            </if>
            <if test="record.traderAddress != null">
                trader_address = #{record.traderAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.winner != null">
                winner = #{record.winner,jdbcType=BIGINT},
            </if>
            <if test="record.winnerRemark != null">
                winner_remark = #{record.winnerRemark,jdbcType=VARCHAR},
            </if>
            <if test="record.collegeId != null">
                college_id = #{record.collegeId,jdbcType=BIGINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.rofour.baseball.dao.order.bean.OrderManagerBean">
        update tb_order
        <set>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                channel = #{channel,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=VARCHAR},
            </if>
            <if test="totalMoney != null">
                total_money = #{totalMoney,jdbcType=BIGINT},
            </if>
            <if test="rebateMoney != null">
                rebate_money = #{rebateMoney,jdbcType=BIGINT},
            </if>
            <if test="finalMoney != null">
                final_money = #{finalMoney,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="payMoney != null">
                pay_money = #{payMoney,jdbcType=BIGINT},
            </if>
            <if test="payState != null">
                pay_state = #{payState,jdbcType=INTEGER},
            </if>
            <if test="payType != null">
                pay_type = #{payType,jdbcType=INTEGER},
            </if>
            <if test="payId != null">
                pay_id = #{payId,jdbcType=BIGINT},
            </if>
            <if test="cancelType != null">
                cancel_type = #{cancelType,jdbcType=INTEGER},
            </if>
            <if test="consignee != null">
                consignee = #{consignee,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="deliveryStartDate != null">
                delivery_start_date = #{deliveryStartDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryEndDate != null">
                delivery_end_date = #{deliveryEndDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=BIGINT},
            </if>
            <if test="createUserMobile != null">
                create_user_mobile = #{createUserMobile,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="unnormalDesc != null">
                unnormal_desc = #{unnormalDesc,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="payMode != null">
                pay_mode = #{payMode,jdbcType=INTEGER},
            </if>
            <if test="lockState != null">
                lock_state = #{lockState,jdbcType=INTEGER},
            </if>
            <if test="trader != null">
                trader = #{trader,jdbcType=VARCHAR},
            </if>
            <if test="traderName != null">
                trader_name = #{traderName,jdbcType=VARCHAR},
            </if>
            <if test="traderSex != null">
                trader_sex = #{traderSex,jdbcType=VARCHAR},
            </if>
            <if test="traderMobile != null">
                trader_mobile = #{traderMobile,jdbcType=VARCHAR},
            </if>
            <if test="traderAddress != null">
                trader_address = #{traderAddress,jdbcType=VARCHAR},
            </if>
            <if test="winner != null">
                winner = #{winner,jdbcType=BIGINT},
            </if>
            <if test="winnerRemark != null">
                winner_remark = #{winnerRemark,jdbcType=VARCHAR},
            </if>
            <if test="collegeId != null">
                college_id = #{collegeId,jdbcType=BIGINT},
            </if>
        </set>
        where order_id = #{orderId,jdbcType=BIGINT}
    </update>
</mapper>