<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiduan.axp.dao.manager.mapper.CompanyOfferPriceMapper">


    <insert id="insert" parameterType="com.zhiduan.axp.dao.manager.bean.OfferBean"
            useGeneratedKeys="true" keyProperty="offerId">
        insert into tb_offer
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="offerName != null">
                offer_name,
            </if>
            <if test="initialWeight != null">
                initial_weight,
            </if>
            <if test="additionalWeight != null">
                additional_weight,
            </if>
            <if test="sendAreaId != null">
                send_area_id,
            </if>
            <if test="dispAreaId != null">
                disp_area_id,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="sortNo != null">
                sort_no,
            </if>
            <if test="createTime != null">
                create_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="offerName != null">
                #{offerName},
            </if>
            <if test="initialWeight != null">
                #{initialWeight},
            </if>
            <if test="additionalWeight != null">
                #{additionalWeight},
            </if>
            <if test="sendAreaId != null">
                #{sendAreaId},
            </if>
            <if test="dispAreaId != null">
                #{dispAreaId},
            </if>
            <if test="isEnabled != null">
                #{isEnabled},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
            <if test="sortNo != null">
                #{sortNo},
            </if>
            <if test="createTime != null">
                #{createTime}
            </if>
        </trim>
    </insert>

    <insert id="insertExpressCompany" parameterType="com.zhiduan.axp.dao.manager.bean.OfferExpressCompanyBran"
            useGeneratedKeys="true" keyProperty="oecId">
        insert into tb_offer_express_company
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="offerId != null">
                offer_id,
            </if>
            <if test="expressCompanyId != null">
                express_company_id,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="offerId != null">
                #{offerId},
            </if>
            <if test="expressCompanyId != null">
                #{expressCompanyId},
            </if>

        </trim>
    </insert>

    <insert id="insertExpressCollage" parameterType="com.zhiduan.axp.dao.manager.bean.OfferExpressCollageBran"
            useGeneratedKeys="true" keyProperty="oecId">
        insert into tb_offer_college
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="offerId != null">
                offer_id,
            </if>
            <if test="collegeId != null">
                college_id,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="offerId != null">
                #{offerId},
            </if>
            <if test="collegeId != null">
                #{collegeId},
            </if>

        </trim>
    </insert>

    <delete id="deleteExpressCompany" parameterType="java.lang.Long">
      DELETE FROM tb_offer_express_company  WHERE  offer_id=#{offerId}
    </delete>

    <delete id="deleteExpressCollage" parameterType="java.lang.Long">
        DELETE FROM tb_offer_college  WHERE  offer_id=#{offerId}
    </delete>

    <update id="update" parameterType="com.zhiduan.axp.dao.manager.bean.OfferBean"  useGeneratedKeys="true" >
        update tb_offer
        <set>
            <if test="offerName != null">
                offer_name =  #{offerName},
            </if>
            <if test="initialWeight != null">
                initial_weight =  #{initialWeight},
            </if>
            <if test="additionalWeight != null">
                additional_weight =  #{additionalWeight},
            </if>
            <if test="sendAreaId != null">
                send_area_id =  #{sendAreaId},
            </if>
            <if test="dispAreaId != null">
                disp_area_id =  #{dispAreaId},
            </if>
            <if test="isEnabled != null">
                is_enabled =  #{isEnabled},
            </if>
            <if test="sortNo != null">
                sort_no =  #{sortNo}
            </if>
        </set>
        where offer_id =  #{offerId}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      UPDATE tb_offer SET  is_deleted=1  WHERE  offer_id=#{offerId}
    </delete>

    <select id="selectAll" resultType="com.zhiduan.axp.dao.manager.bean.OfferBean" parameterType="com.zhiduan.axp.dao.manager.bean.OfferBean">
        select offer_id offerId,offer_name offerName,
        initial_weight initialWeight,additional_weight additionalWeight,
        send_area_id sendAreaId,disp_area_id dispAreaId,is_enabled isEnabled,
        sort_no sortNo,create_time createTime,
        (select GROUP_CONCAT( province_name) from tb_offer_area_province t1,tb_province t2 where t1.province_id=t2.province_id  AND t1.offer_area_id =send_area_id group by t1.offer_area_id ) sendProvinceName ,
        (select GROUP_CONCAT( province_name) from tb_offer_area_province t1,tb_province t2 where t1.province_id=t2.province_id  AND t1.offer_area_id =disp_area_id group by t1.offer_area_id ) dispProvinceName ,
        (select full_name from (select GROUP_CONCAT( full_name) full_name,t1.offer_id from tb_offer_express_company t1,tb_express_company t2 where t1.express_company_id=t2.express_company_id  group by t1.offer_id)tt
        where tt.offer_id= tb_offer.offer_id) companyName ,
        (select full_name from (select GROUP_CONCAT( t1.express_company_id) full_name,t1.offer_id from tb_offer_express_company t1,tb_express_company t2 where t1.express_company_id=t2.express_company_id  group by t1.offer_id)tt
        where tt.offer_id= tb_offer.offer_id) companyIds ,
        (select full_name from (select GROUP_CONCAT( t1.college_id) full_name,t1.offer_id from tb_offer_college t1,tb_college t2 where t1.college_id=t2.college_id  group by t1.offer_id)tt
        where tt.offer_id= tb_offer.offer_id) collageIds ,
        (select offer_area_name from  tb_offer_area where offer_area_id =send_area_id   )sendArearName,
        (select offer_area_name from  tb_offer_area where offer_area_id =disp_area_id   )dispAreaName FROM  tb_offer
        where is_deleted=0
        <if test="offerName != ''and offerName!=null">
            and offer_name like CONCAT('%',TRIM(#{offerName}),'%')
        </if>
        <if test="sendAreaId != null">
            and send_area_id=#{sendAreaId}
        </if>
        <if test="dispAreaId != null">
            and disp_area_id=#{dispAreaId}
        </if>
        ORDER BY ${sort} ${order}
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectAllCount" resultType="integer" parameterType="com.zhiduan.axp.dao.manager.bean.OfferBean">

        select count(1) from (
        select offer_id offerId,offer_name offerName,
        initial_weight initialWeight,additional_weight additionalWeight,
        send_area_id sendAreaId,disp_area_id dispAreaId,is_enabled isEnabled,
        sort_no sortNo,create_time createTime FROM tb_offer
        where is_deleted=0
        <if test="offerName != ''and offerName!=null">
            and offer_name like CONCAT('%',TRIM(#{offerName}),'%')
        </if>
        <if test="sendAreaId != null">
            and send_area_id=#{sendAreaId}
        </if>
        <if test="dispAreaId != null">
            and disp_area_id=#{dispAreaId}
        </if>
        ) t1
    </select>

    <select id="selectIsExtNameCount" resultType="integer" parameterType="com.zhiduan.axp.dao.manager.bean.OfferBean">

        select count(1) from (
        select offer_id offerId,offer_name offerName,
        initial_weight initialWeight,additional_weight additionalWeight,
        send_area_id sendAreaId,disp_area_id dispAreaId,is_enabled isEnabled,
        sort_no sortNo,create_time createTime FROM tb_offer
        where is_deleted=0
        <if test="offerName != ''and offerName!=null">
            and offer_name =#{offerName}
        </if>
        ) t1
    </select>
</mapper>
