<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiduan.axp.dao.manager.mapper.MsgTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.zhiduan.axp.controller.model.manager.MsgTemplateInfo" >
    <constructor >
      <idArg column="message_template_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="message_template_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="message_template" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="priority" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    message_template_id messageTemplateId, message_template_name messageTemplateName, message_template messageTemplate, priority
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_message_template
    where message_template_id = #{messageTemplateId,jdbcType=VARCHAR}
  </select>
   <select id="selectAll" resultType="com.zhiduan.axp.controller.model.manager.MsgTemplateInfo" parameterType="com.zhiduan.axp.controller.model.manager.MsgTemplateInfo" >
    select 
    <include refid="Base_Column_List" />
    from tb_message_template
    		<if test="messageTemplateName != null and messageTemplateName!=''">
			where message_template_name like CONCAT('%',#{messageTemplateName},'%')
		</if>
    		ORDER BY
		${sort} ${order}
		LIMIT #{offset}, #{limit} 
   
  </select>
  
     <select id="getMsgTemplateTotal" resultType="int"   parameterType="com.zhiduan.axp.controller.model.manager.MsgTemplateInfo" >
    select 
   count(1)
    from tb_message_template
   	<if test="messageTemplateName != null and messageTemplateName!=''">
			where message_template_name like CONCAT('%',#{messageTemplateName},'%')
		</if>
  </select>
  <delete id="deleteTemplate" parameterType="com.zhiduan.axp.controller.model.manager.MsgTemplateInfo" >
    
    <foreach collection="messageTemplateIds" item="messageTemplateId" index="index">delete from tb_message_template
    where message_template_id = #{messageTemplateId,jdbcType=VARCHAR}</foreach>
    
  </delete>
  <insert id="insert" parameterType="com.zhiduan.axp.dao.manager.bean.MsgTemplateBean" >
    insert into tb_message_template (message_template_id, message_template_name, 
      message_template, priority)
    values (#{messageTemplateId,jdbcType=VARCHAR}, #{messageTemplateName,jdbcType=VARCHAR}, 
      #{messageTemplate,jdbcType=VARCHAR}, #{priority,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiduan.axp.dao.manager.bean.MsgTemplateBean" >
    insert into tb_message_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageTemplateId != null" >
        message_template_id,
      </if>
      <if test="messageTemplateName != null" >
        message_template_name,
      </if>
      <if test="messageTemplate != null" >
        message_template,
      </if>
      <if test="priority != null" >
        priority,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageTemplateId != null" >
        #{messageTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="messageTemplateName != null" >
        #{messageTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="messageTemplate != null" >
        #{messageTemplate,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiduan.axp.dao.manager.bean.MsgTemplateBean" >
    update tb_message_template
    <set >
      <if test="messageTemplateName != null" >
        message_template_name = #{messageTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="messageTemplate != null" >
        message_template = #{messageTemplate,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=TINYINT},
      </if>
    </set>
    where message_template_id = #{messageTemplateId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiduan.axp.dao.manager.bean.MsgTemplateBean" >
    update tb_message_template
    set message_template_name = #{messageTemplateName,jdbcType=VARCHAR},
      message_template = #{messageTemplate,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=TINYINT}
    where message_template_id = #{messageTemplateId,jdbcType=VARCHAR}
  </update>
  <!--  消息模板是否存在重复id -->
   <select id="existTemplateId" resultType="int" parameterType="java.lang.String" >
    select count(1) from tb_message_template where message_template_id=#{id}
  </select>
  
   <!--  消息模板是否存在重复名称 ,更新排除本身id-->
   <select id="existTemplateName" resultType="int" parameterType="map" >
    select count(1) from tb_message_template where message_template_name=#{name}
    <if test="id != null">
    	and message_template_id !=#{id}
    </if>
  </select>
</mapper>