<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rofour.baseball.dao.manager.mapper.OfferPriceMapper">

    <select id="getAll" parameterType="com.rofour.baseball.controller.model.manager.OfferPriceInfo"
            resultType="com.rofour.baseball.controller.model.manager.OfferPriceInfo">
        SELECT *
        FROM (
        SELECT toa.offer_area_id offerAreaId,toa.offer_area_name offerAreaName,group_concat(province_name) provinceNames,group_concat(tp.province_id) provinceIdsStr
        FROM tb_offer_area toa LEFT JOIN tb_offer_area_province toap ON toa.offer_area_id=toap.offer_area_id LEFT JOIN tb_province tp ON
        toap.province_id=tp.province_id
        where 1=1
        <if test="offerAreaName != null and offerAreaName!='' ">
            AND  toa.offer_area_name LIKE CONCAT('%',#{offerAreaName},'%')
        </if>
        GROUP BY toa.offer_area_id
        ORDER BY
        ${sort} ${order}
        LIMIT #{offset}, #{limit}) ss WHERE 1=1
        <if test="provinceId != null">
            AND ss.provinceIdsStr LIKE concat('%,',#{provinceId},',%') OR ss.provinceIdsStr LIKE concat('%,',#{provinceId},'%') OR ss.provinceIdsStr LIKE concat('%',#{provinceId},',%') OR ss.provinceIdsStr=#{provinceId}
        </if>
    </select>
    <select id="selectAll" resultType="com.rofour.baseball.dao.manager.bean.OfferAreaBean">
      SELECT offer_area_id offerAreaId,offer_area_name offerAreaName FROM tb_offer_area
    </select>

    <select id="getAllTotal" parameterType="com.rofour.baseball.controller.model.manager.OfferPriceInfo" resultType="java.lang.Integer">
        SELECT count(1) FROM (
        SELECT *
        FROM (
        SELECT toa.offer_area_id offerAreaId,toa.offer_area_name offerAreaName,group_concat(province_name) provinceNames,group_concat(tp.province_id) provinceIdsStr
        FROM tb_offer_area toa LEFT JOIN tb_offer_area_province toap ON toa.offer_area_id=toap.offer_area_id LEFT JOIN tb_province tp ON
        toap.province_id=tp.province_id
        where 1=1
        <if test="offerAreaName != null and offerAreaName!='' ">
            AND  toa.offer_area_name LIKE CONCAT('%',#{offerAreaName},'%')
        </if>
        GROUP BY toa.offer_area_id
        ) mm WHERE 1=1
        <if test="provinceId != null">
            AND mm.provinceIdsStr LIKE concat('%,',#{provinceId},',%') OR mm.provinceIdsStr LIKE concat('%,',#{provinceId},'%') OR mm.provinceIdsStr LIKE concat('%',#{provinceId},',%') OR mm.provinceIdsStr=#{provinceId}
        </if>
        ) ss
    </select>

    <select id="isExistOfferArea" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(1) FROM tb_offer_area WHERE offer_area_name=#{offerAreaName}
    </select>

    <update id="updateOfferArea" parameterType="com.rofour.baseball.controller.model.manager.OfferPriceInfo">
      UPDATE tb_offer_area SET offer_area_name=#{offerAreaName} WHERE offer_area_id=#{offerAreaId};
    </update>

    <delete id="deleteOfferArea" parameterType="java.lang.Long">
        DELETE FROM tb_offer_area WHERE offer_area_id=#{offerAreaId};
    </delete>

    <delete id="deleteOfferProvince" parameterType="java.lang.Long">
        DELETE FROM tb_offer_area_province WHERE offer_area_id=#{offerAreaId};
    </delete>

    <insert id="addOfferArea" parameterType="com.rofour.baseball.controller.model.manager.OfferPriceInfo" useGeneratedKeys="true" keyProperty="offerAreaId">
      INSERT INTO tb_offer_area(offer_area_name) VALUES (#{offerAreaName})
    </insert>

    <insert id="addOfferProvince" parameterType="java.util.List">
        INSERT INTO tb_offer_area_province(offer_area_id,province_id) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.offerAreaId},#{item.provinceId})
        </foreach>
    </insert>
</mapper>
