body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1092px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:703px;
  overflow:hidden;
}
#u2103_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:703px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2103_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2104 {
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:707px;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u2106 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2107 {
  position:absolute;
  left:80px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u2108 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2109 {
  position:absolute;
  left:180px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u2110 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2111 {
  position:absolute;
  left:280px;
  top:0px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u2112 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u2113 {
  position:absolute;
  left:340px;
  top:0px;
  width:110px;
  height:30px;
  color:#FFFFFF;
}
#u2114 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u2115 {
  position:absolute;
  left:450px;
  top:0px;
  width:110px;
  height:30px;
  color:#FFFFFF;
}
#u2116 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2117 {
  position:absolute;
  left:560px;
  top:0px;
  width:140px;
  height:30px;
  color:#FFFFFF;
}
#u2118 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2119 {
  position:absolute;
  left:700px;
  top:0px;
  width:140px;
  height:30px;
  color:#FFFFFF;
}
#u2120 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2121 {
  position:absolute;
  left:840px;
  top:0px;
  width:150px;
  height:30px;
  color:#FFFFFF;
}
#u2122 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u2123 {
  position:absolute;
  left:990px;
  top:0px;
  width:101px;
  height:30px;
  color:#FFFFFF;
}
#u2124 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:42px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2127 {
  position:absolute;
  left:80px;
  top:30px;
  width:100px;
  height:42px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2129 {
  position:absolute;
  left:180px;
  top:30px;
  width:100px;
  height:42px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2131 {
  position:absolute;
  left:280px;
  top:30px;
  width:60px;
  height:42px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2133 {
  position:absolute;
  left:340px;
  top:30px;
  width:110px;
  height:42px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2135 {
  position:absolute;
  left:450px;
  top:30px;
  width:110px;
  height:42px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2137 {
  position:absolute;
  left:560px;
  top:30px;
  width:140px;
  height:42px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2139 {
  position:absolute;
  left:700px;
  top:30px;
  width:140px;
  height:42px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2141 {
  position:absolute;
  left:840px;
  top:30px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2142 {
  position:absolute;
  left:5px;
  top:5px;
  width:140px;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2143 {
  position:absolute;
  left:990px;
  top:30px;
  width:101px;
  height:42px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:72px;
  width:80px;
  height:42px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2147 {
  position:absolute;
  left:80px;
  top:72px;
  width:100px;
  height:42px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2149 {
  position:absolute;
  left:180px;
  top:72px;
  width:100px;
  height:42px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2151 {
  position:absolute;
  left:280px;
  top:72px;
  width:60px;
  height:42px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2153 {
  position:absolute;
  left:340px;
  top:72px;
  width:110px;
  height:42px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2155 {
  position:absolute;
  left:450px;
  top:72px;
  width:110px;
  height:42px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2157 {
  position:absolute;
  left:560px;
  top:72px;
  width:140px;
  height:42px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2159 {
  position:absolute;
  left:700px;
  top:72px;
  width:140px;
  height:42px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2161 {
  position:absolute;
  left:840px;
  top:72px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2162 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2163 {
  position:absolute;
  left:990px;
  top:72px;
  width:101px;
  height:42px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:114px;
  width:80px;
  height:42px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2167 {
  position:absolute;
  left:80px;
  top:114px;
  width:100px;
  height:42px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2169 {
  position:absolute;
  left:180px;
  top:114px;
  width:100px;
  height:42px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2171 {
  position:absolute;
  left:280px;
  top:114px;
  width:60px;
  height:42px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2173 {
  position:absolute;
  left:340px;
  top:114px;
  width:110px;
  height:42px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2175 {
  position:absolute;
  left:450px;
  top:114px;
  width:110px;
  height:42px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2177 {
  position:absolute;
  left:560px;
  top:114px;
  width:140px;
  height:42px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2179 {
  position:absolute;
  left:700px;
  top:114px;
  width:140px;
  height:42px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2181 {
  position:absolute;
  left:840px;
  top:114px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2182 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2183 {
  position:absolute;
  left:990px;
  top:114px;
  width:101px;
  height:42px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2185 {
  position:absolute;
  left:0px;
  top:156px;
  width:80px;
  height:42px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2187 {
  position:absolute;
  left:80px;
  top:156px;
  width:100px;
  height:42px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2189 {
  position:absolute;
  left:180px;
  top:156px;
  width:100px;
  height:42px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2191 {
  position:absolute;
  left:280px;
  top:156px;
  width:60px;
  height:42px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2193 {
  position:absolute;
  left:340px;
  top:156px;
  width:110px;
  height:42px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2195 {
  position:absolute;
  left:450px;
  top:156px;
  width:110px;
  height:42px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2197 {
  position:absolute;
  left:560px;
  top:156px;
  width:140px;
  height:42px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2199 {
  position:absolute;
  left:700px;
  top:156px;
  width:140px;
  height:42px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2201 {
  position:absolute;
  left:840px;
  top:156px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2202 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2203 {
  position:absolute;
  left:990px;
  top:156px;
  width:101px;
  height:42px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2205 {
  position:absolute;
  left:0px;
  top:198px;
  width:80px;
  height:42px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2207 {
  position:absolute;
  left:80px;
  top:198px;
  width:100px;
  height:42px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2209 {
  position:absolute;
  left:180px;
  top:198px;
  width:100px;
  height:42px;
}
#u2210 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2211 {
  position:absolute;
  left:280px;
  top:198px;
  width:60px;
  height:42px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2213 {
  position:absolute;
  left:340px;
  top:198px;
  width:110px;
  height:42px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2215 {
  position:absolute;
  left:450px;
  top:198px;
  width:110px;
  height:42px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2217 {
  position:absolute;
  left:560px;
  top:198px;
  width:140px;
  height:42px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2219 {
  position:absolute;
  left:700px;
  top:198px;
  width:140px;
  height:42px;
}
#u2220 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2221 {
  position:absolute;
  left:840px;
  top:198px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2222 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2223 {
  position:absolute;
  left:990px;
  top:198px;
  width:101px;
  height:42px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2225 {
  position:absolute;
  left:0px;
  top:240px;
  width:80px;
  height:42px;
}
#u2226 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2227 {
  position:absolute;
  left:80px;
  top:240px;
  width:100px;
  height:42px;
}
#u2228 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2229 {
  position:absolute;
  left:180px;
  top:240px;
  width:100px;
  height:42px;
}
#u2230 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2231 {
  position:absolute;
  left:280px;
  top:240px;
  width:60px;
  height:42px;
}
#u2232 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2233 {
  position:absolute;
  left:340px;
  top:240px;
  width:110px;
  height:42px;
}
#u2234 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2235 {
  position:absolute;
  left:450px;
  top:240px;
  width:110px;
  height:42px;
}
#u2236 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2237 {
  position:absolute;
  left:560px;
  top:240px;
  width:140px;
  height:42px;
}
#u2238 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2239 {
  position:absolute;
  left:700px;
  top:240px;
  width:140px;
  height:42px;
}
#u2240 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2241 {
  position:absolute;
  left:840px;
  top:240px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2242 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2243 {
  position:absolute;
  left:990px;
  top:240px;
  width:101px;
  height:42px;
}
#u2244 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2245 {
  position:absolute;
  left:0px;
  top:282px;
  width:80px;
  height:42px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2247 {
  position:absolute;
  left:80px;
  top:282px;
  width:100px;
  height:42px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2249 {
  position:absolute;
  left:180px;
  top:282px;
  width:100px;
  height:42px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2251 {
  position:absolute;
  left:280px;
  top:282px;
  width:60px;
  height:42px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2253 {
  position:absolute;
  left:340px;
  top:282px;
  width:110px;
  height:42px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2255 {
  position:absolute;
  left:450px;
  top:282px;
  width:110px;
  height:42px;
}
#u2256 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2257 {
  position:absolute;
  left:560px;
  top:282px;
  width:140px;
  height:42px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2259 {
  position:absolute;
  left:700px;
  top:282px;
  width:140px;
  height:42px;
}
#u2260 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2261 {
  position:absolute;
  left:840px;
  top:282px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2262 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2263 {
  position:absolute;
  left:990px;
  top:282px;
  width:101px;
  height:42px;
}
#u2264 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2265 {
  position:absolute;
  left:0px;
  top:324px;
  width:80px;
  height:42px;
}
#u2266 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2267 {
  position:absolute;
  left:80px;
  top:324px;
  width:100px;
  height:42px;
}
#u2268 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2269 {
  position:absolute;
  left:180px;
  top:324px;
  width:100px;
  height:42px;
}
#u2270 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2271 {
  position:absolute;
  left:280px;
  top:324px;
  width:60px;
  height:42px;
}
#u2272 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2273 {
  position:absolute;
  left:340px;
  top:324px;
  width:110px;
  height:42px;
}
#u2274 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2275 {
  position:absolute;
  left:450px;
  top:324px;
  width:110px;
  height:42px;
}
#u2276 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2277 {
  position:absolute;
  left:560px;
  top:324px;
  width:140px;
  height:42px;
}
#u2278 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2279 {
  position:absolute;
  left:700px;
  top:324px;
  width:140px;
  height:42px;
}
#u2280 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2281 {
  position:absolute;
  left:840px;
  top:324px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2282 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2283 {
  position:absolute;
  left:990px;
  top:324px;
  width:101px;
  height:42px;
}
#u2284 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2285 {
  position:absolute;
  left:0px;
  top:366px;
  width:80px;
  height:42px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2287 {
  position:absolute;
  left:80px;
  top:366px;
  width:100px;
  height:42px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2289 {
  position:absolute;
  left:180px;
  top:366px;
  width:100px;
  height:42px;
}
#u2290 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2291 {
  position:absolute;
  left:280px;
  top:366px;
  width:60px;
  height:42px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2293 {
  position:absolute;
  left:340px;
  top:366px;
  width:110px;
  height:42px;
}
#u2294 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2295 {
  position:absolute;
  left:450px;
  top:366px;
  width:110px;
  height:42px;
}
#u2296 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2297 {
  position:absolute;
  left:560px;
  top:366px;
  width:140px;
  height:42px;
}
#u2298 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2299 {
  position:absolute;
  left:700px;
  top:366px;
  width:140px;
  height:42px;
}
#u2300 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2301 {
  position:absolute;
  left:840px;
  top:366px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2302 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2303 {
  position:absolute;
  left:990px;
  top:366px;
  width:101px;
  height:42px;
}
#u2304 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2305 {
  position:absolute;
  left:0px;
  top:408px;
  width:80px;
  height:42px;
}
#u2306 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2307 {
  position:absolute;
  left:80px;
  top:408px;
  width:100px;
  height:42px;
}
#u2308 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2309 {
  position:absolute;
  left:180px;
  top:408px;
  width:100px;
  height:42px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2311 {
  position:absolute;
  left:280px;
  top:408px;
  width:60px;
  height:42px;
}
#u2312 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2313 {
  position:absolute;
  left:340px;
  top:408px;
  width:110px;
  height:42px;
}
#u2314 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2315 {
  position:absolute;
  left:450px;
  top:408px;
  width:110px;
  height:42px;
}
#u2316 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2317 {
  position:absolute;
  left:560px;
  top:408px;
  width:140px;
  height:42px;
}
#u2318 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2319 {
  position:absolute;
  left:700px;
  top:408px;
  width:140px;
  height:42px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2321 {
  position:absolute;
  left:840px;
  top:408px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2322 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2323 {
  position:absolute;
  left:990px;
  top:408px;
  width:101px;
  height:42px;
}
#u2324 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2325 {
  position:absolute;
  left:0px;
  top:450px;
  width:80px;
  height:42px;
}
#u2326 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2327 {
  position:absolute;
  left:80px;
  top:450px;
  width:100px;
  height:42px;
}
#u2328 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2329 {
  position:absolute;
  left:180px;
  top:450px;
  width:100px;
  height:42px;
}
#u2330 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2331 {
  position:absolute;
  left:280px;
  top:450px;
  width:60px;
  height:42px;
}
#u2332 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2333 {
  position:absolute;
  left:340px;
  top:450px;
  width:110px;
  height:42px;
}
#u2334 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2335 {
  position:absolute;
  left:450px;
  top:450px;
  width:110px;
  height:42px;
}
#u2336 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2337 {
  position:absolute;
  left:560px;
  top:450px;
  width:140px;
  height:42px;
}
#u2338 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2339 {
  position:absolute;
  left:700px;
  top:450px;
  width:140px;
  height:42px;
}
#u2340 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2341 {
  position:absolute;
  left:840px;
  top:450px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2342 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2343 {
  position:absolute;
  left:990px;
  top:450px;
  width:101px;
  height:42px;
}
#u2344 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2345 {
  position:absolute;
  left:0px;
  top:492px;
  width:80px;
  height:42px;
}
#u2346 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2347 {
  position:absolute;
  left:80px;
  top:492px;
  width:100px;
  height:42px;
}
#u2348 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2349 {
  position:absolute;
  left:180px;
  top:492px;
  width:100px;
  height:42px;
}
#u2350 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2351 {
  position:absolute;
  left:280px;
  top:492px;
  width:60px;
  height:42px;
}
#u2352 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2353 {
  position:absolute;
  left:340px;
  top:492px;
  width:110px;
  height:42px;
}
#u2354 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2355 {
  position:absolute;
  left:450px;
  top:492px;
  width:110px;
  height:42px;
}
#u2356 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2357 {
  position:absolute;
  left:560px;
  top:492px;
  width:140px;
  height:42px;
}
#u2358 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2359 {
  position:absolute;
  left:700px;
  top:492px;
  width:140px;
  height:42px;
}
#u2360 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2361 {
  position:absolute;
  left:840px;
  top:492px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2362 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2363 {
  position:absolute;
  left:990px;
  top:492px;
  width:101px;
  height:42px;
}
#u2364 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2365 {
  position:absolute;
  left:0px;
  top:534px;
  width:80px;
  height:42px;
}
#u2366 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2367 {
  position:absolute;
  left:80px;
  top:534px;
  width:100px;
  height:42px;
}
#u2368 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2369 {
  position:absolute;
  left:180px;
  top:534px;
  width:100px;
  height:42px;
}
#u2370 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2371 {
  position:absolute;
  left:280px;
  top:534px;
  width:60px;
  height:42px;
}
#u2372 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2373 {
  position:absolute;
  left:340px;
  top:534px;
  width:110px;
  height:42px;
}
#u2374 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2375 {
  position:absolute;
  left:450px;
  top:534px;
  width:110px;
  height:42px;
}
#u2376 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2377 {
  position:absolute;
  left:560px;
  top:534px;
  width:140px;
  height:42px;
}
#u2378 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2379 {
  position:absolute;
  left:700px;
  top:534px;
  width:140px;
  height:42px;
}
#u2380 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2381 {
  position:absolute;
  left:840px;
  top:534px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2382 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2383 {
  position:absolute;
  left:990px;
  top:534px;
  width:101px;
  height:42px;
}
#u2384 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2385 {
  position:absolute;
  left:0px;
  top:576px;
  width:80px;
  height:42px;
}
#u2386 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2387 {
  position:absolute;
  left:80px;
  top:576px;
  width:100px;
  height:42px;
}
#u2388 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2389 {
  position:absolute;
  left:180px;
  top:576px;
  width:100px;
  height:42px;
}
#u2390 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2391 {
  position:absolute;
  left:280px;
  top:576px;
  width:60px;
  height:42px;
}
#u2392 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2393 {
  position:absolute;
  left:340px;
  top:576px;
  width:110px;
  height:42px;
}
#u2394 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2395 {
  position:absolute;
  left:450px;
  top:576px;
  width:110px;
  height:42px;
}
#u2396 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2397 {
  position:absolute;
  left:560px;
  top:576px;
  width:140px;
  height:42px;
}
#u2398 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2399 {
  position:absolute;
  left:700px;
  top:576px;
  width:140px;
  height:42px;
}
#u2400 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2401 {
  position:absolute;
  left:840px;
  top:576px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2402 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2403 {
  position:absolute;
  left:990px;
  top:576px;
  width:101px;
  height:42px;
}
#u2404 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2405 {
  position:absolute;
  left:0px;
  top:618px;
  width:80px;
  height:42px;
}
#u2406 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2407 {
  position:absolute;
  left:80px;
  top:618px;
  width:100px;
  height:42px;
}
#u2408 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2409 {
  position:absolute;
  left:180px;
  top:618px;
  width:100px;
  height:42px;
}
#u2410 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2411 {
  position:absolute;
  left:280px;
  top:618px;
  width:60px;
  height:42px;
}
#u2412 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2413 {
  position:absolute;
  left:340px;
  top:618px;
  width:110px;
  height:42px;
}
#u2414 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2415 {
  position:absolute;
  left:450px;
  top:618px;
  width:110px;
  height:42px;
}
#u2416 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2417 {
  position:absolute;
  left:560px;
  top:618px;
  width:140px;
  height:42px;
}
#u2418 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2419 {
  position:absolute;
  left:700px;
  top:618px;
  width:140px;
  height:42px;
}
#u2420 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2421 {
  position:absolute;
  left:840px;
  top:618px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2422 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2423 {
  position:absolute;
  left:990px;
  top:618px;
  width:101px;
  height:42px;
}
#u2424 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u2425 {
  position:absolute;
  left:0px;
  top:660px;
  width:80px;
  height:42px;
}
#u2426 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u2427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2427 {
  position:absolute;
  left:80px;
  top:660px;
  width:100px;
  height:42px;
}
#u2428 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2429 {
  position:absolute;
  left:180px;
  top:660px;
  width:100px;
  height:42px;
}
#u2430 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u2431 {
  position:absolute;
  left:280px;
  top:660px;
  width:60px;
  height:42px;
}
#u2432 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2433 {
  position:absolute;
  left:340px;
  top:660px;
  width:110px;
  height:42px;
}
#u2434 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u2435 {
  position:absolute;
  left:450px;
  top:660px;
  width:110px;
  height:42px;
}
#u2436 {
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u2437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2437 {
  position:absolute;
  left:560px;
  top:660px;
  width:140px;
  height:42px;
}
#u2438 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u2439 {
  position:absolute;
  left:700px;
  top:660px;
  width:140px;
  height:42px;
}
#u2440 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u2441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u2441 {
  position:absolute;
  left:840px;
  top:660px;
  width:150px;
  height:42px;
  text-align:left;
}
#u2442 {
  position:absolute;
  left:5px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u2443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u2443 {
  position:absolute;
  left:990px;
  top:660px;
  width:101px;
  height:42px;
}
#u2444 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2445 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2447 {
  position:absolute;
  left:1016px;
  top:39px;
  width:49px;
  height:24px;
}
#u2447_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2449 {
  position:absolute;
  left:1016px;
  top:81px;
  width:49px;
  height:24px;
}
#u2449_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2451 {
  position:absolute;
  left:1016px;
  top:123px;
  width:49px;
  height:24px;
}
#u2451_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2453 {
  position:absolute;
  left:1016px;
  top:165px;
  width:49px;
  height:24px;
}
#u2453_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2455 {
  position:absolute;
  left:1016px;
  top:207px;
  width:49px;
  height:24px;
}
#u2455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2457 {
  position:absolute;
  left:1016px;
  top:249px;
  width:49px;
  height:24px;
}
#u2457_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2459 {
  position:absolute;
  left:1016px;
  top:291px;
  width:49px;
  height:24px;
}
#u2459_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2461 {
  position:absolute;
  left:1016px;
  top:333px;
  width:49px;
  height:24px;
}
#u2461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2463 {
  position:absolute;
  left:1016px;
  top:375px;
  width:49px;
  height:24px;
}
#u2463_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2465 {
  position:absolute;
  left:1016px;
  top:417px;
  width:49px;
  height:24px;
}
#u2465_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2467 {
  position:absolute;
  left:1016px;
  top:459px;
  width:49px;
  height:24px;
}
#u2467_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2469 {
  position:absolute;
  left:1016px;
  top:501px;
  width:49px;
  height:24px;
}
#u2469_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2471 {
  position:absolute;
  left:1016px;
  top:543px;
  width:49px;
  height:24px;
}
#u2471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2473 {
  position:absolute;
  left:1016px;
  top:585px;
  width:49px;
  height:24px;
}
#u2473_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2475 {
  position:absolute;
  left:1016px;
  top:627px;
  width:49px;
  height:24px;
}
#u2475_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2477 {
  position:absolute;
  left:1016px;
  top:669px;
  width:49px;
  height:24px;
}
#u2477_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
